@import url('typography.css');
@import url('animations.css');

body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFFFF;
    color: #664343;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header {
    background-color: #795757;
    color: #FFF0D1;
    padding: 1em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFF0D1;
    text-decoration: none;
    font-size: 1.1em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 2em;
    max-width: 1000px;
    margin: 40px auto;
    background-color: #FFF0D1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

article {
    padding: 20px;
    color: #664343;
}

footer {
    background-color: #795757;
    color: #FFF0D1;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    width: 100%;
    position: relative;
    bottom: 0;
}

.author-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.author-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 0;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.social-links img.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-links {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.social-links a {
    color: #FFF0D1;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    main {
        grid-template-columns: 3fr 1fr;
    }

    .author-info {
        display: flex;
        align-items: center;
        justify-content: start;
    }
}

@media (max-width: 767px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 10px;
    }

    .author-avatar {
        margin-right: auto;
        margin-left: auto; /* Center avatar on smaller screens */
    }
}

@media (max-width: 480px) {
    header,
    nav ul,
    main,
    footer {
        padding: 1em;
        text-align: center;
    }

    article,
    .author-info {
        padding: 1em;
    }
}
